html, body, h1, h2, h3, h4, ul, ol, li, p, a {
    padding: 0;
    border: 0;
    margin: 0;
  }

.featured-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(images/veggies.png);
    background-color: black;
    min-height: 100vh;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    opacity: .9;
}
.navbar {
    font-family: 'Raleway' , sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 0 20px;
    margin: 0px 20px 0 30px;
}
.logo {
    color: white;
    font-size: 18px;
    padding: 0 10px;
}
.nav-links {
    display: flex;
}
.nav-item {
    list-style: none;
}
.nav-item a {
    text-decoration: none;
    color: white;
    padding: 0 18px;
    font-size: 18px;
}
hr {
    width: 1325px;
    position: center;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 180px;
    color: white;
}
.main h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 80px;
    padding-bottom: 5px;
}
.main h2 {
    font-family: 'Raleway' , sans-serif;
    font-weight: 100;
    font-size: 45px;
    padding-top: 10px;
    
}
.main hr {
    width: 400px;
}
.container1 {
    display: flex;
}
.container1_image {
    width: 500px;
    height: 350px;
}
.container1_text {
    background-color: black;
    color: white; 
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
.container1_text h2 {
    padding: 10px 20px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    font-size: 30px; 
    width: 100%; 
}
.container1_text p {
   padding: 10px 20px;
   font-family: 'Raleway' , sans-serif;
   font-size: 20px;
   font-weight: 100;
   width: 550px;
}
.container2 {
    display: flex;
}
.container2_image {
    display: flex;
    justify-content: flex-end;
    width: 550px;
    height: 400px;
}
.container2_text {
    background-color: #161717;
    color: white; 
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.container2_text h2 {
    padding: 10px 20px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    font-size: 30px; 
    width: 100%; 
}
.container2_text p {
   padding: 10px 20px;
   font-family: 'Raleway' , sans-serif;
   font-size: 20px;
   font-weight: 100;
   width: 550px;
}
.container3 {
    display: flex;
}
.container3_image {
    width: 700px;
    height: 400px;
}
.container3_text {
    background-color: #252727;
    color: white; 
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
.container3_text h2 {
    padding: 10px 20px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    font-size: 30px; 
    width: 100%; 
}
.container3_text p {
   padding: 10px 20px;
   font-family: 'Raleway' , sans-serif;
   font-size: 20px;
   font-weight: 100;
   width: 550px;
}
